/* .main-content {
    width: 1354px;
    height: 730px;
    background-color: #000;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
} */