.colorsItem {
    display: flex;
    flex-wrap: wrap;
    width: 340px;
    margin: 33px 0 0 75px;
}

.addColors button {
    margin: 242px 0 0 50px;
    width: 343px;
    height: 50px;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    background-color: #007AFF;
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    outline: none;
    cursor: pointer;
}

/* .clouse {
    right: -8px;
    top: -8px;
    position: absolute;
    width: 17px;
    height: 17px;
    border: 1px solid #fff;
    font-weight: 700;
    border-radius: 50px;
}

.clouse p {
    color: #fff;
    text-align: center;
    line-height: 12px;
} */